.leaflet-control-location-list-arrow-next { background-image: url('../img/icon-next.png'); }
.leaflet-control-location-list-arrow-prev { background-image: url('../img/icon-prev.png'); }

.leaflet-control-location-list {
    position: absolute;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;

    z-index: 2000;
}

.leaflet-control-location-list.left {
    left: -500px;
    transition: left 0.5s, width 0.5s;

    padding-right: 0;

}
.leaflet-control-location-list.right {
    right: -500px;
    transition: right 0.5s, width 0.5s;

    padding-left: 0;
}

.leaflet-control-location-list.left.visible {
    left: 0;
}

.leaflet-control-location-list.right.visible {
    right: 0;
}

.leaflet-left {
    transition: left 0.5s;
}

.leaflet-right {
    transition: right 0.5s;
}

.leaflet-control-location-list > .leaflet-control {
    height: 100%;
    width: 100%;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;

    font-size: 1.1em;

    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media(max-width:767px){
    .leaflet-control-location-list {
        width: 100%;
        padding: 0;
    }

    .leaflet-control-location-list.left {
        left: -100%;
    }

    .leaflet-control-location-list.right {
        right: -100%;
    }

    .leaflet-control-location-list.left.visible {
        left: 0;
    }

    .leaflet-control-location-list.right.visible {
        right: 0;
    }

    .leaflet-control-location-list > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .leaflet-control-location-list.left.visible ~ .leaflet-left {
        left: 100%;
    }

    .leaflet-control-location-list.right.visible ~ .leaflet-right {
        right: 100%;
    }
}

@media(min-width:768px) and (max-width:991px){
    .leaflet-control-location-list {
        width: 305px;
    }

    .leaflet-control-location-list.left.visible ~ .leaflet-left {
        left: 305px;
    }

    .leaflet-control-location-list.right.visible ~ .leaflet-right {
        right: 305px;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .leaflet-control-location-list {
        width: 390px;
    }

    .leaflet-control-location-list.left.visible ~ .leaflet-left {
        left: 390px;
    }

    .leaflet-control-location-list.right.visible ~ .leaflet-right {
        right: 390px;
    }
}

@media(min-width:1200px){
    .leaflet-control-location-list {
        width: 460px;
    }

    .leaflet-control-location-list.left.visible ~ .leaflet-left {
        left: 460px;
    }

    .leaflet-control-location-list.right.visible ~ .leaflet-right {
        right: 460px;
    }
}

.leaflet-control-location-list .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;

    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;

    z-index: 8;
}
